@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    padding-left: 50px;

}

.container-1{
    margin: auto;
    max-width: 900px;
    width:100%;
    background: #fff;
    padding: 50px 30px;
    border-radius: 5px;
}

.container-1 .title{
    font-size: 25px;
    font-weight: 500;
   
    text-decoration: underline red;

}

h4{
    
    font-size: 25px;
    font-weight: 500;
    
    text-decoration: underline red;
}
.title-1{
    margin: 20px 10px 10px 0px;
    font-size: 25px;
    font-weight: 500;
    position:relative;
    
}



.container-1 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


form .user-details .input-box{
    margin: 20px 0 12px 0;;
    width: calc(100% /2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;

}

.user-details .tag {
    margin: 10px 5px 10px 100px;
    border: solid 1px #517B97;
    border-radius:13px;
    height: 30px;
    width: 25%;
    justify-content: 1px;
}
button{
    background: red;
    color: #fff;
    border-radius: 20px;
    border: 2px solid red;
    padding: 0.4rem 1rem ;
    margin-top:1rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

button > a{
    text-decoration: none;
    color: #fff;
}


button:hover{
    text-decoration: none;
    color: black;
    background: transparent;
    border: 2px solid #fff;
    letter-spacing: 2 ;
}

@media (max-width:2000px ){
    .container-1{
        max-width: 150%;
    }
    form .user-details .input-box{
        margin: 20px 0 12px 0;;
        width: 100%;
    }
}