@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 50px;

}

.container-1 {

    max-width: 1500px;
    width: 100%;
    background: #fff;
    padding: 50px 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 20px #aaaaaa;
}

.form-2 {
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 15px 20px #d9d6ff;

}

.form-select-1{
    padding: 10px;
}

.radio-1 {
    padding-top: 10px;
    margin: 30px 10px 10px 15px;
}

.searc {
    margin-top: 33px;
}

.feild {
    margin-top: -60px;
    text-align: end;
}

.feilds {
    margin-left: 120px;
    margin-top: 15px;
    text-align: end;
}

.title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline red;

}

.prospectDis{
    padding-left: 1000px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 15px 20px #d9d6ff;
}

.tableDown {
    margin-left: 15px;
}

.inTable{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0px 50px 40%;
}

label {
    margin-right: 25px;
    font-weight: 500;
}

.button-1 {
    margin: 32px 10px 10px 41%;
}

.button-2 {
    margin: 32px 10px 10px 61%;
}

.button-3 {
    margin: 32px 10px 10px 5%;
}


.details {
    padding-right: 10px;
    font-weight: 600;
    margin-right: 20px;
}

.detail1 {
    margin-left: -20px;
}

.box1 {
    margin-top: 20px;
    justify-content: space-between;
}

span {
    padding: 10px;
}


/*------------------Slider----------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    padding: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}